.home-articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 64px;
}

.home-article {
  border: 1px solid black;
  width: 15%;
  margin: 2% 5%;
  text-align: center;
}
