@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.home-articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px 64px;
}

.home-article {
    border: 1px solid rgba(240, 213, 213, 0.5);
    border-radius: 6px;
    width: 15%;
    margin: 2% 5%;
}

.home-article article {
    width: 100%;
}

.home-article article:nth-child(2) {
    text-align: center;
    padding: 24px;
}

.home-article-image {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.landing-page-image-container {
    position: relative;

    article {
        text-align: center;
        position: absolute;
        margin-top: 10%;
        left: 10%;
        color: white;
        font-size: 64px;
        font-family: 'Merriweather', serif;
        font-style: italic;
        text-shadow: -1px 0 #def2f8, 0 1px #def2f8, 1px 0 #def2f8, 0 -1px #def2f8;
    }

    article:nth-child(2) {
        left: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .landing-page-image-container article:nth-child(2) {
        left: 30%;
    }
}
