{
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 100,
    "semi": true,
    "proseWrap": "always",
    "bracketSpacing": true,
    "arrowParens": "always",
    "objectCurlySpacing": true,
    "wrap-long-lines": true
}
