.alert {
    display: flex;
}

.alert p {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}

.alert a {
    font-weight: bold;
    text-decoration: none;
    color: skyblue;
}

.alert a:hover {
    text-decoration: underline;
    color: #380036;
}