.home-container {
    margin: 48px 64px;
    padding: 24px 36px;
    border: 1px solid black;
}

.image-container {
    display: inline-block;
}

.all-homes-image {
    width: 200px;
}

.home-error {
    color: red;
}

.main-text {
    display: inline-block;
    width: 25%;
    height: auto;
    margin-left: 10%;
}

.description-text {
    display: inline-block;
}

.no-underline {
    text-decoration: none;
}

.home-details-container {
    display: flex;
    justify-content: space-around;
    margin: 36px 48px;
    padding: 24px 36px;
    border: 2px solid lightslategray;
    min-height: 50vh;
}

.home-details-image-container {
    width: 45%;
}

.home-details-image-container img {
    width: 100%;
}

.home-details-text {
    width: 45%;
}
