.suggestings-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    .sugestings-wrapper {
        border: 1px solid black;
        background: #fefefe;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

        .suggersting-span-image {
            width: 100%;
            max-height: 400px;
        }
    }

    .sugestings-wrapper span{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid black;
    }
}
