.listItem {
    display: flex;
    border-bottom: 1px solid rgb(194, 194, 194);
    margin-top: 8px;
    width: 512px;
    justify-content: space-between;
}
.listItem__buttons {
    display: flex;
    gap: 16px;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
