.no-underline {
    text-decoration: none;
}

.home-details {
    border: 2px solid lightslategray;
}

.home-details-container {
    display: flex;
    justify-content: space-around;
    margin: 36px 48px;
    padding: 24px 36px;
    min-height: 50vh;
}

.home-details-image-container {
    width: 45%;
}

.home-details-image-container img {
    width: 100%;
}

.home-details-text {
    width: 45%;
}

.map-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%
}