.about-container {
    margin-left: 3%;
    margin-top: 3%;
}

.section {
    padding-top: 5px;
    padding-bottom: 5px;
}

.brief-desc {
    width: 95%;
}

#self-intro {
    color: #af2f2f;
}

#backend-repo-intro>a,
#self-intro>a,
.project-walkthrough>p>a {
    text-decoration: none;
    color: blue;
}