.main-conatiner {
    .paginationBtns {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
    }

    .paginationBtns a {
        border-radius: 0.2rem;
        padding: 0.5rem;
        border: 1px solid #2b2eff;
        color: #2b2eff;
        cursor: pointer;
    }

    .paginationBtns a:hover {
        color: white;
        background-color: #2b2eff;
    }

    .paginationActive a {
        color: white;
        background-color: #2b2eff;
    }

}