.button-edit{
    cursor: pointer;
    background: lightcoral;
    border: none;
    padding: 4px;
    border-radius: 6px;
    font-weight: 600;
    color: darkgreen;
}

.button-edit:hover{
    background-color: azure;
}