
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 85vh;
  background-color: white;
}

.center {
  padding: 64px 20px;
  margin: auto;
  max-width: 800px;
}

form {
  padding: 10px;
  padding-bottom: 20px;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}

.signin-form h3 {
  text-align: center;
  font-size: 1.2em;
  margin: 5px 0;
}

.input-wrapper {
  margin: 8px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
}

input {
  padding: 8px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  width: 100%;
}

.submit_btn {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  width: 60%;
  cursor: pointer;
  font-size: 1em;
}

.checkbox-row {
  display: flex;
  padding-top: 12px;
}

.checkbox-row input {
  width: auto;
  margin: 6px;
}