@import 'react-toastify/dist/ReactToastify.css';



// Define variables
$blue-color: #659dbd;
$green-color: #8d8741;
$sand-color: #daad86;
$coffee-color: #bc986a;
$light-color: #fbeec1;
$white-color: #fefefe;
$black-color: black;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: rgb(101,157,189);
    background: linear-gradient(150deg, rgba(101,157,189,1) 0%, rgba(191,223,233,1) 100%);
}
