@import 'react-toastify/dist/ReactToastify.css';
@import './assets/styles/colors.scss';

$left-background-color: $first-color;
$right-background-color: lighten($first-color, 10%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, $left-background-color, $right-background-color);
}
