// Colors and theme names are taken from color-schemes folder
// === THEME ===
// Allowed values: LandOfClean, Dark
$theme: LandOfClean;

// Define variables
$first-color: #659dbd;
$second-color: #8d8741;
$third-color: #daad86;
$fourth-color: #bc986a;
$fifth-color: #fbeec1;
$sixth-color: #fefefe;

// === COLORS ===
@if $theme == Dark {
    $first-color: #659dbd;
    $second-color: #8d8741;
    $third-color: #daad86;
    $fourth-color: #bc986a;
    $fifth-color: #fbeec1;
    $sixth-color: #fefefe;
} @else if $theme == LandOfClean {
    $first-color: #659dbd;
    $second-color: #8d8741;
    $third-color: #daad86;
    $fourth-color: #bc986a;
    $fifth-color: #fbeec1;
    $sixth-color: #fefefe;
}
