.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
     padding: 3rem 1rem;
    max-width: 1580px;

    .row-choice-best {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .fadeIn {
            flex: 0 0 auto;
            width: 50%;
            max-width: 100%;
            margin-top: 20px;

            .about-img {
                padding-right: 0 !important;
                padding: 3rem;
                position: relative;
                overflow: hidden;

                img{
                  position: relative;
                  z-index: 2;
                  max-width: 100%;
                  height: auto;
                  width: 100%;
                }
            }

            .about-img::before {
                position: absolute;
                content: '';
                top: 0;
                left: -50%;
                width: 100%;
                height: 100%;
                background: #8d8741;
                transform: skew(20deg);
                z-index: 1;
            }
        }

        .row-choice-best-right-side{
          flex: 0 0 auto;
          width: 50%;
          max-width: 100%;
          margin-top: 20px;
          padding: 0 20px;

          h1{
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            margin-top: 0;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            line-height: 1.2;
            color: #0E2E50;
          }
          
          p{
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;

            .choise-section-icon{
              color: black ;
              margin-right: 8px;
            }
          }
          .btn-primary{
            color: #fff;
            padding-top: 1rem ;
            padding-bottom: 1rem ;
            padding-right: 3rem ;
            padding-left: 3rem ;
            margin-top: 1rem;
            background-color: #8d8741;
            border-color: #8d8741;
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;

            border: 1px solid transparent;
            font-size: 1rem;
            border-radius: 5px;
          }

          .btn-primary:hover{
            background-color: rgb(84, 17, 84);
            transition: 0.5s;
          }
        }
    }
}
